.newsContainer {
  background: #ffffff; /* 백그라운드 색상 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  border-radius: 8px; /* 모서리 둥글게 */
  padding: 2r; /* 내부 패딩 */
  width: 500px;
  margin-top: 15px;
  height:470px;

}

.newsTitle {
  text-align: center; /* 제목을 중앙 정렬 */
  margin-bottom: 20px; /* 제목 아래 마진 */
  font-size: 24px; /* 제목 글꼴 크기 */
  font-weight: bold; /* 글꼴 굵기 */
  color: #333333; /* 글꼴 색상 */
}

.newsItem {
  display: flex;
  margin-left: 35px;
  margin-right: 35px;
  justify-content: space-between; /* 항목을 양 끝으로 정렬 */
  padding: 10px 0; /* 상하 패딩 */
  border-bottom: 1px solid #eaeaea; /* 하단 경계선 */
}

.newsDate {
  color: #666666; /* 날짜 글꼴 색상 */
  font-size: 14px; /* 날짜 글꼴 크기 */
}

/* 마지막 뉴스 항목의 하단 경계선을 제거합니다. */
.newsItem:last-child {
  border-bottom: none;
}
