.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 뷰포트 높이 */
  height: 100%;
}

.content {
  flex: 1; /* 여기에 flex: 1을 추가하여 컨텐츠가 가능한 모든 공간을 차지하도록 합니다. */
  /* 여기에 필요한 추가 스타일을 적용합니다. */
}
