/* Researcher.module.css */
.cardsContainer {
  display: flex;
  justify-content: center; /* Centers the cards horizontally */
  gap: 1rem; /* Adds space between the cards */
  flex-wrap: wrap; /* Allows cards to wrap onto the next line if not enough space */
}

.profileCard {
  display: flex;
  flex-direction: row; /* Lays out children horizontally */
  align-items: center; /* Centers children vertically */
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 10px;
  margin: 1rem;
  max-width: 900px; /* Adjust the max-width to fit your content */
  width: 65vh; /* Ensure the card stretches to max-width */
}

.profileImage {
  border-radius: 50%;
  margin-right: 3rem; /* Adjust space between image and text */
}

.info {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: flex-start; /* Aligns text to the start of the flex container */
  height:100%;
  margin-right: 30px;
  width: 18vh;

}
.info_2 {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: flex-start; /* Aligns text to the start of the flex container */
  height:100%;
  margin-right: 30px;
  width: 35%;

}
.carrer_font{
  text-decoration-line: underline;

}

.imageWrapper {
  flex-shrink: 0; /* Prevents the image container from shrinking */
}

/* If you're using Image from Next.js, ensure the parent div doesn't collapse */
.imageWrapper > span {
  position: unset !important;
}
