.navContainer {
  display: flex;
  justify-content: space-between; /* 로고와 네비게이션 항목들을 양쪽 끝으로 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 1em;
  background-color: #f5f5f5; /* 배경색 */
  border-bottom: 1px solid #ddd; /* 하단 테두리 */
}
.logoContainer {
  display: flex; /* flexbox 레이아웃을 사용하여 아이템들을 일렬로 배열 */
  justify-content: center; /* 가로 중앙 정렬 */
  padding: 0; /* 필요에 따라 여백 조정 */
  height: 100%; /* 네비게이션 바의 높이를 조절할 수 있습니다 */
}
.nav {
  display: flex;
  align-items: center; /* 네비게이션 항목들을 수직 중앙 정렬 */
  justify-content: center; /* 가운데 정렬 */
  background-color: #fff; /* 배경색 */
  width: 100%;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* 그림자 */
  padding: 10px 20px; /* 상하좌우 패딩 */
}

.navItem {
  margin: 0 20px; /* 좌우 마진 */
  padding: 6px 12px; /* 상하좌우 패딩 */
  font-size: 16px; /* 글자 크기 */
  color: #555; /* 글자 색상 */
  text-decoration: none; /* 텍스트 밑줄 제거 */
}

.navItem:hover {
  background-color: #f7f7f7; /* 호버 상태의 배경색 */
}

.navItem.active {
  color: #0d6efd; /* 활성 상태의 글자 색상 */
  border-bottom: 3px solid #0d6efd; /* 활성 상태의 하단 보더 */
}
.logo {
  margin-right: 20px; /* 로고와 네비게이션 아이템 사이의 여백 */
  height: auto; /* 이미지의 높이를 자동으로 설정하여 원본 비율을 유지 */
}
